@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lato:100);

/* CSS Defaults */
body {
    font: 2em 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    background: url("../images/site_background.jpg") no-repeat center center fixed;
}

h4 {
    margin: 10px;
}

::selection {
    color: #000000;
    background-color: #0caa3b;
}

/* Header */
header {
    width: 100%;
}

/* Header, Title */
.headertitle {
    padding: 20px;
    text-transform: uppercase;
    color: #888888;
	background-color: #333333;	
}

.maintitle {
	font: 1.5em 'Lato', sans-serif;
	color: #888888;
	margin-top: 150px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #333333;
	border-radius: 3px;
	padding: 15px;
}

.mainbutton {
	font: .8em 'Lato', sans-serif;
	color: #222222;
	margin-top: 15px;
	width: 175px;
	margin-left: auto;
	margin-right: auto;
	background-color: #09891d;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
}

	.mainbutton:hover {
		
		color: #222222;
		background-color: #1eaf34;
		text-decoration: none;
	}

/* Header, Navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }

.nav {
    float: right;
    display: inline;
    text-decoration: none;
}

.nav_button {
	font: .6em 'Lato', sans-serif;
    display: block;
    width: 125px;
    padding: 32px 20px 32px 20px;
    text-align: center;
    color: #09891d;
    background-color: #333333;
    text-decoration: none;
}

    .nav_button:hover {
        color: #09891d;
        background-color: #444444;
        text-decoration: none;
    }

    .nav_button:active {
        color: #09891d;
        background-color: #222222;
        text-decoration: none;
    }
    
#contact {
	
}